*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}

.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
    
 .navlinks ul{
     display: flex;
     text-align: left;
}
 
.navlinks ul li{
     list-style: none;
     padding: 2px 5px;
     position:relative;
}
 
.navlinks ul li a{
     color: black;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 20px;
     font-weight: bold;
}

.sign ul{
    display: flex;
    text-align: right;
}

.sign ul li{
    list-style: none;
    padding: 2px 5px;
    position: relative;
}

.sign ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.top-container{
    display: grid;
    grid-template: 
    'showcase showcase showcase showcase'
    'showcase showcase showcase showcase';
    margin-bottom: 150px;
}

.showcase{
    grid-area: showcase;
    background:url(crude2.jpg);
    height: 100vh;
    background-size: cover;
    background-position:center;
    margin: 5px 35px;
}

.showcase h1{
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 23%;
    color: #ffffff;
} 
 
.text h1{
    text-align: center;
    margin: 35px 50px;
    text-transform: uppercase;
    color: #00174f;
    word-spacing: 1px;
    line-height: 42px;
    font-size: 50px;
}

.text a{
    background:#00174f;
    border: 1px solid;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 14px;
    margin: auto 660px;
    color: #f5f5f5;
    text-align: center;
}

.color
{
    background-color:#f5f5f5;
    margin:5px 35px;
    height: 80vh;
    margin-bottom: 70px;
}

.side-container{
    background:url(crude1.jpg);
    height: 80vh;
    width: 50%;
    background-size:cover;
    background-position:left;
    margin: 5px 35px;
    margin-top: -550px;
}

.color h1
{
    color: #00174f;
    font-size: 50px;
    text-transform: uppercase;
    margin-left: 850px;
    margin-top: 10px;
}

.color p
{
    color: #00174f;
    font-size: 25px;
    margin-left: 850px;
    margin-top: 10px;
    text-align: left;
}